<h1 class="page-header">Resposta do Formulário: <%= @message.id %></h1>

<div class="col-md-12">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <%= @message.id %>
    </div>
    <div class="panel-body">
      <p>
        <strong>Nome:</strong>
        <%= @message.nome %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @message.email %>
      </p>
      <p>
        <strong>Telefone:</strong>
        <%= @message.telefone %>
      </p>
      <p>
        <strong>Unidade:</strong>
        <%= @message.unidade %>
      </p>

    </div>

  </div>
</div>
