
<h1 class="page-header">Formulário de Inscrição</h1>

    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th>id</th>
                      <th>Nome</th>
                      <th>Telefone</th>
                      <th>Unidade</th>
                      <th>Curso</th>
                      <th>Data</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @messages.each do |message| %>
                        <tr>
                          <td><%= message.id %></td>
                          <td><%= message.nome %></td>
                          <td><%= message.telefone %></td>
                          <td><%= message.unidade %></td>
                          <td><%= message.curso %></td>
                          <td><%= message.created_at.strftime("%d/%m/%Y às %T")  %></td>
                          <td>
                              <%= link_to backoffice_discount_message_path(message), class: "btn btn-default btn-circle" do %>
                                  <i class="fa fa-search"></i>
                              <% end %>
                          </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
