<p class="levels-label">Meus Cursos</p>

<br>
<% @courses.each do |course| %>

    <% if current_student.admin %>

        <%= link_to site_course_path(course), class: "course-list" do %>
            <div class="card">
                <h2><%= course.title %></h2>
                <i class="fa fa-arrow-right"></i>
                <p>Estude agora!</p>
                <div class="pic">
                    <%= image_tag course.course_flag.thumb.url || "flag-usa.png", class: "align-top" %>
                </div>
                <button>
                </button>
            </div>
        <% end %>

    <% else %>

        <% if course.title == "Inglês" || course.title == "Power Link" %>
            <%= link_to site_course_path(course), class: "course-list" do %>
                <div class="card">
                    <h2><%= course.title %></h2>
                    <i class="fa fa-arrow-right"></i>
                    <p>Estude agora!</p>
                    <div class="pic">
                        <%= image_tag course.course_flag.thumb.url || "flag-usa.png", class: "align-top" %>
                    </div>
                    <button>
                    </button>
                </div>
            <% end %>
        <% else %>

            <%= link_to site_audios_path, class: "course-list" do %>
                <div class="card">
                    <h2><%= course.title %></h2>
                    <i class="fa fa-arrow-right"></i>
                    <p>Estude agora!</p>
                    <div class="pic">
                        <%= image_tag course.course_flag.thumb.url || "flag-usa.png", class: "align-top" %>
                    </div>
                    <button>
                    </button>
                </div>
            <% end %>

        <% end %>

    <% end %>




<% end %>


<%= render 'partials/modal_config' %>
