<h1>Matrículas</h1>

<div class="row">
    <div class="col-md-12">
        <div class="well">      
            <%= form_tag backoffice_errolments_path, method: 'get', id: "questions_search", class: "form-inline" do %>
                <h4>Filtro</h4>
                <div class="form-group" style="margin-right: 20px;">
                    <label for="title">Nome do aluno</label>
                    <%= text_field_tag :keyword, "", class: 'form-control', id: "title" %>
                </div>
                
                <% if current_unit.admin == true %>
                  <div class="form-group" style="margin-right: 20px;">
                      <% @units = Unit.all.order('title') %>
                      <% @units.each do |unit| %>
                          <div class="checkbox-inline">
                              <label><%= check_box_tag "by_units[]", unit.id %> <%= unit.title %> </label>
                          </div>
                      <% end %>
                  </div>
                <% end %>
                <%= submit_tag "Filtrar", :name => nil, class: "btn btn-default" %>
            <% end %>
            <%= link_to "Limpar Filtro", backoffice_errolments_path %>
        </div>
        <br>
    </div>
</div>

<table class="table table-hover">
  <thead>
      <tr>
        <th>Aluno</th>
        <th>Nível</th>
        <th>Unidade</th>
        <th>Data da Matrícula</th>
        <th>Status</th>
        <th>Data de expiração</th>
        <th></th>
        <th ><%= @errolments.length %> resultados</th>
      </tr>
  </thead>
  <tbody>
  <% @errolments.each do |errolment| %>
    <tr>
      <td><%= errolment.student.id %> - <%= errolment.student.name %></td>
      <td><%= errolment.level.title %></td>
      <td><%= errolment.student.unit.title %></td>
      <td><%= errolment.created_at.strftime("%d/%m/%Y às %T") %></td>
      <td><%= errolment.status %></td>
      <td><%= errolment.expiration ? errolment.expiration.strftime("%d/%m/%Y às %T"):"" %></td>
      <td>
        <% unless errolment.active %>
          <%= link_to 'Ativar', backoffice_change_status_path(errolment),  class: "btn btn-outline btn-success", data: { confirm: 'Are you sure?' }, method: :put %>                  
        <% else %>
          <%= link_to 'Inativar', backoffice_change_status_path(errolment),  class: "btn btn-outline btn-danger", data: { confirm: 'Are you sure?' }, method: :put %>
        <% end %>
      </td>
      <td>
      
        <%= link_to backoffice_errolment_path(errolment), class: "btn btn-default btn-circle" do %>
          <i class="fa fa-search"></i>
        <% end %>
      </td>
      
    </tr>
  <% end %>
      
  </tbody>
</table>
<div class="col-md-12">
    <div style="text-align: center;">      
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
</div>  

<br>

<%= link_to 'Nova Matrícula', new_backoffice_errolment_path %>


