<%= form_with(model: audio, local: true, url: path) do |form| %>
  <% if audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% audio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field form-group col-md-6">
    <%= form.label "Título do Audio" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group col-md-6">
    <%= form.label "Audio" %>
    <%= form.file_field :attachment %>
  </div>

  <div class="actions  col-md-12">
    <%= form.submit "Enviar", :class => "btn btn-default" %>
  </div>
</div>

<% end %>
