<div class="lesson">
    <!-- Icons -->
    <div class="icons-wrapper">
        <% if quiz.percentage >= 100 %>

            <a href="#" class="icon pratice-icon red-tooltip"
                data-toggle="tooltip"
                data-placement="top"
                title="Praticar"
                data-delay='{"show":"150", "hide":"200"}'
            >
                <%= image_tag "praticar.png",
                    data:{
                        toggle:"modal",
                        target:"#modal-pratice-quiz-"+quiz.id.to_s,
                        backdrop:"static",
                        keyboard:"false"
                    }
                %>
            </a>

        <% else %>

            <div class="icon learn-icon"
                data-toggle="tooltip"
                data-placement="top"
                title="Aprender"
                data-delay='{"show":"150", "hide":"200"}'
            >
                <%= image_tag "aprender.png",
                    data:{
                        toggle:"modal",
                        target:"#modal-learn-quiz-"+quiz.id.to_s,
                        backdrop:"static",
                        keyboard:"false"
                    }
                %>
            </div>

        <% end %>
    </div>
    <!-- Icons -->

    <div class="progress-bar" style="width: 100%;">
        <div class="progress-bar-inner" style="width:<%= quiz.percentage %>%; height: 75px;">
            <div class="lesson-wrapper">
                <p class="lesson-name">
                    <%= quiz.id %> - <%= quiz.path.title %> - <%= quiz.count_questions_hitted(current_student.id) %>/<%= quiz.how_many_questions? %>
                </p>
                <p class="lesson-percentage"> </p>
            </div>
        </div>
    </div>

    <!-- Modal Aprender -->
    <div class="modal fade"
        id="modal-learn-quiz-<%=quiz.id%>"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div id="modal-content-quiz-<%=quiz.id%>" class="modal-content <%=quiz.finished%>">

            <!-- Modal header Aprender-->
            <div class="modal-header">
                <!-- progress   -->
                <div class="progress-bar" style="width: 100%; height: 8px;">
                    <div class="progress-bar-inner progress-bar-inner-quiz-<%=quiz.id%>" style="width:<%= quiz.percentage %>%"></div>
                </div>
                <div id="percentage-quiz-<%=quiz.id%>" style="display: none;">0</div>
                <!-- progress   -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal header-->

            <!-- Modal body Aprender-->
            <div class="modal-body">

              <%= render 'quiz_finalizado', quiz: quiz%>

              <% if quiz.path.level.course.title.downcase == "power link" %>

                <% all_kinds = [] %>
                <% questoes = quiz.questions_not_hitted(current_student.id) %>

                <% combinacao = questoes.where(type_question: "Combinação").sample(1) %>
                <% forca = questoes.where(type_question: "Forca").sample(1) %>
                <% aberta = questoes.where(type_question: "Questão Aberta").sample(1) %>
                <% multipla = questoes.where(type_question: "Múltipla Escolha").sample(1) %>


                <% all_kinds << combinacao[0] if combinacao[0] %>
                <% all_kinds << forca[0] if forca[0] %>
                <% all_kinds << aberta[0] if aberta[0] %>
                <% all_kinds << multipla[0] if multipla[0]%>

                <% questoes_leatorias = all_kinds.sample(3) %>

              <% else %>
                <% questoes_leatorias = quiz.questions_not_hitted(current_student.id).sample(10) %>
              <% end %>

              <% order = 0  %>
                <% questoes_leatorias.each do | question | %>


                    <%= form_with(model: [:site, @quiz], remote: true,
                     html: { id: "form-quiz-"+quiz.id.to_s+"-aprender-"+order.to_s,
                     class: "animated hide form-aprender" } ) do |form| %>

                        <h5 class="question-title"><%= question.title%></h5>

                        <div class="question-description">
                            <%= raw question.description %>
                        </div>

                        <%= form.hidden_field :id, :value => quiz.id %>
                        <%= form.hidden_field :question_id, :value => question.id %>
                        <%= form.hidden_field :student_id, :value => current_student.id %>
                        <%= form.hidden_field :path_id, :value => question.path.id %>
                        <%= form.hidden_field :question_id, :value => question.id %>
                        <%= form.hidden_field :order, :value => order %>

                        <% tipo = "aprender" %>
                        <%= form.hidden_field :type, :value => tipo %>

                        <% if question.attachment_url   %>
                            <p>
                            <audio src="<%= question.attachment_url %>" controls preload="none" controlsList="nodownload">
                                Your browser does not support the audio element.
                            </audio>
                            </p>
                        <% end %>

                        <%= render 'tipo_questao', question: question, quiz_id: quiz.id, order: order, form: form %>

                        <div class="actions action-container d-flex flex-row-reverse justify-content-between ">

                            <div id="proxima-quiz-<%= quiz.id.to_s %>-aprender-questao-<%= order.to_s %>"
                              class="botao-proxima d-none animated float-right"">
                                <div onclick="proximaQuestaoAprender(
                                    <%= order %>,
                                    <%= order+1 %>,
                                    '<%= tipo %>',
                                    <%= quiz.id %>,
                                    <%= question.id %>,

                                    <%= questoes_leatorias.last.id %>,
                                    <%= path_index %>

                                    )" class="btn ">
                                    Próximo
                                </div>
                            </div>

                            <%= form.submit "Responder",
                                class: "btn",
                                id: ("botao-quiz-"+quiz.id.to_s+"-aprender-questao-"+order.to_s),
                                data: { disable_with: false },
                                parent_combination: ("combinacao-quiz-"+quiz.id.to_s+"-"+order.to_s+"-container")

                            %>

                            <%= render 'certo-errado-resposta', order: order, quiz: quiz, question: question %>

                        </div>


                    <% end %>

                    <%= render 'report_error', question: question, order: order, tipo: "aprender", path_index: path_index, order: order %>
                    <% order += 1 %>
                <% end %>

                <div id=""  class="lesson d-none quiz-parcial-<%= quiz.id %>">
                    <h4>Continue praticando</h4>
                    <p>Continue praticando e ganhe as melhores medalhas!</p>
                </div>
            </div>
            <!-- Modal body Aprender-->
        </div>
        <!-- Modal content Aprender-->
    </div>
    <!-- Modal dialog Aprender-->
    </div>
    <!-- Modal Aprender-->




    <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar -->
    <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar -->
    <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar -->
    <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar --> <!-- Modal Praticar -->
    <div class="modal fade"
        id="modal-pratice-quiz-<%=quiz.id%>"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <!-- Modal header Praticar-->
        <div class="modal-header">
            <!-- progress  Praticar -->
            <div class="progress-bar"+question.id.to_s style="width: 100%; height: 8px;">
                <div class="progress-bar-inner" style="width:<%= quiz.percentage %>%"></div>
            </div>
            <!-- progress Praticar  -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Modal header Praticar -->

        <!-- Modal body Praticar -->
        <div class="modal-body">

            <div id="quiz-praticar-finalizado-<%= quiz.id %>"  class="lesson-finished d-none">
                <%= image_tag user_avatar(current_student, 160), id: "avatar" %>
                <h4>Parabéns</h4>
                <p>Você concluiu esta etapa.</p>
                <p>Continue praticando e seu inglês estará cada vez melhor!</p>
            </div>

           <% if quiz.path.level.course.title.downcase == "power link" %>

                <%
=begin%>
 <% questoes = quiz.questions_hitted(current_student.id) %>

                <% combinacao = questoes.where(type_question: "Combinação").sample(1) %>
                <% forca = questoes.where(type_question: "Forca").sample(1) %>
                <% aberta = questoes.where(type_question: "Questão Aberta").sample(1) %>
                <% multipla = questoes.where(type_question: "Múltipla Escolha").sample(1) %>

                <% all_kinds = [] %>
                <% all_kinds << combinacao[0] %>
                <% all_kinds << forca[0] %>
                <% all_kinds << aberta[0] %>
                <% all_kinds << multipla[0] %>

                <% questoes_leatorias = all_kinds.sample(3) %>
<%
=end%>
              <% questoes_leatorias = quiz.questions_hitted(current_student.id).sample(3) %>
              <% else %>
              <% questoes_leatorias = quiz.questions_hitted(current_student.id).sample(10) %>
            <% end %>

            <% order = 0  %>

            <% questoes_leatorias.each do | question | %>

            <%= form_with(model: [:site, @quiz], remote: true,
             html: { id: "form-quiz-"+quiz.id.to_s+"-praticar-"+order.to_s,
             class: "animated hide form-praticar-"+order.to_s} ) do |form| %>

                <h5 class="question-title"><%= question.title %></h5>

                <div class="question-description">
                    <%= raw question.description %>
                </div>
                <%= form.hidden_field :id, :value => quiz.id %>
                <%= form.hidden_field :question_id, :value => question.id %>
                <%= form.hidden_field :student_id, :value => current_student.id %>
                <%= form.hidden_field :path_id, :value => question.path.id %>
                <%= form.hidden_field :question_id, :value => question.id %>
                <%= form.hidden_field :order, :value => order %>

                <% tipo = "praticar" %>
                <%= form.hidden_field :type, :value => tipo %>

                   <% if question.attachment_url   %>
                        <p>
                            <audio src="<%= question.attachment_url %>" controls preload="none" controlsList="nodownload">
                                Your browser does not support the audio element.
                            </audio>
                        </p>
                    <% end %>

                <%= render 'tipo_questao', question: question, quiz_id: quiz.id, order: order, form: form %>

                <div class="actions action-container d-flex flex-row-reverse justify-content-between">

                    <div id="proxima-quiz-<%= quiz.id.to_s %>-praticar-questao-<%= order.to_s %>"
                      class="botao-proxima d-none animated float-right">
                        <div onclick="proximaQuestaoPraticar(
                            <%= order %>,
                            <%= order+1 %>,
                            '<%= tipo %>',
                            <%= quiz.id %>,
                            <%= question.id %>,
                            <%= questoes_leatorias.last.id %>,
                            <%= path_index %>
                            )"
                        class="btn ">Próximo</div>
                    </div>


                    <%= form.submit "Responder",
                        class: "btn",
                        id: ("botao-quiz-"+quiz.id.to_s+"-praticar-questao-"+order.to_s),
                        data: { disable_with: false },
                        parent_combination: ("combinacao-quiz-"+quiz.id.to_s+"-"+order.to_s+"-container")
                        %>

                    <div id="certo-quiz-<%= quiz.id.to_s %>-praticar-questao-<%= order.to_s %>" class="certo d-none animated">
                        <div class="d-inline">
                            <%= image_tag "certo.png", size: "35x35" %>
                        </div>
                        <h5 style="vertical-align: middle;"  class="d-inline">Perfeito!</h5>
                    </div>

                    <% unless question.type_question == "Combinação" %>
                      <div id="resposta-quiz-<%= quiz.id.to_s %>-praticar-questao-<%= order.to_s %>" class=" d-none animated">
                          <h5 style="vertical-align: middle;"  class="d-inline">Resposta correta:</h5>
                          <p id="texto-resposta-quiz-<%= quiz.id.to_s %>-praticar-questao-<%= order.to_s %>" class="d-inline" style="vertical-align: middle;"></p>
                      </div>
                    <% end %>

                    <div id="errado-quiz-<%= quiz.id.to_s %>-praticar-questao-<%= order.to_s %>" class="errado d-none animated">
                        <div class="d-inline">
                            <%= image_tag "errado.png", size: "35x35" %>
                        </div>
                        <h5 style="vertical-align: middle;" class="d-inline">Quase lá! :(</h5>
                    </div>
                </div>
            <% end %>
            <%= render 'report_error', question: question, order: order, tipo: "praticar", path_index: path_index, order: order  %>
            <% order += 1 %>
        <% end %>
        <div id=""  class="lesson d-none quiz-parcial-<%= quiz.id %>">
            <h4>Continue praticando</h4>
            <p>Continue praticando e ganhe as melhores medalhas!</p>
        </div>
        </div>
        <!-- Modal body Praticar-->
        </div>
        <!-- Modal content Praticar -->
    </div>
    <!-- Modal dialog-->
    </div>
    <!-- Modal Praticar -->

</div>
<!-- Lesson  -->

<script>
function proximaQuestaoAprender(ordem, prox, tipo, quiz_id, question_id, last_question_id, path_index){
    $(".opcao-wrapper").removeClass("error");
    $(".opcao-wrapper").removeClass("hit");

    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+ordem).addClass("bounceOutLeft");
    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+ordem).addClass("hide");

    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+prox).removeClass("hide");
    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+prox).addClass("bounceInRight");

    $("#form-"+tipo+"-erro-"+prox+"-"+path_index).removeClass("hide");
    $("#form-"+tipo+"-"+prox+"-"+path_index).addClass("bounceInRight");
    $("#form-aprender-erro-"+ordem+"-"+path_index).addClass("hide");

    val = $("#percentage-quiz-<%=quiz.id%>").text();
    percentage = parseInt(val);

    if(percentage >= 100){
        console.log("Finalizando quiz "+quiz_id)
        $("#modal-content-quiz-"+quiz_id).addClass("modal-finished");
        $("#quiz-finalizado-"+quiz_id).removeClass("d-none");
    }else if(question_id == last_question_id){
        console.log("Finalizando parcial quiz "+quiz_id)
        $(".quiz-parcial-"+quiz_id).removeClass("d-none");
    }
}

function proximaQuestaoPraticar(ordem, prox, tipo, quiz_id, question_id, last_question_id, path_index){

    $(".opcao-wrapper").removeClass("error");
    $(".opcao-wrapper").removeClass("hit");

    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+ordem).addClass("bounceOutLeft");
    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+ordem).addClass("hide");

    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+prox).removeClass("hide");
    $("#form-quiz-"+quiz_id+"-"+tipo+"-"+prox).addClass("bounceInRight");

    $("#form-"+tipo+"-erro-"+prox+"-"+path_index).removeClass("hide");
    console.log("remocao de classe ------- " + "#form-"+tipo+"-erro-"+prox)
    console.log("order " + ordem)
    console.log("proxima " + prox)

    $("#form-"+tipo+"-"+prox+"-"+path_index).addClass("bounceInRight");
    $("#form-"+tipo+"-erro-"+ordem+"-"+path_index).addClass("hide");

    $("#reported").addClass("hide");

    val = $("#percentage-quiz-<%=quiz.id%>").text();
    percentage = parseInt(val);

    if(percentage >= 100 && question_id == last_question_id){
        console.log("Finalizando quiz "+quiz_id)
        <%
=begin%>
 $("#modal-content-quiz-"+quiz_id).addClass("modal-finished");
        $("#quiz-praticar-finalizado-"+quiz_id).removeClass("d-none");
<%
=end%>
            $(".quiz-parcial-"+quiz_id).removeClass("d-none");


    }else if(question_id == last_question_id){
        console.log("Finalizando parcial quiz "+quiz_id)
        $(".quiz-parcial-"+quiz_id).removeClass("d-none");
    }

}

function signReported(id){
    $("#form-aprender-erro-"+id).replaceWith("Questão reportada!");
    $("#form-praticar-erro-"+id).replaceWith("Questão reportada!");
}
</script>

<script>
//recarrega página ao fechar modal
$("#modal-learn-quiz-<%=quiz.id%>").on("hidden.bs.modal", function () {
    location.reload();
});
$("#modal-pratice-quiz-<%=quiz.id%>").on("hidden.bs.modal", function () {
    location.reload();
});
</script>
