<% if question.type_question == "Múltipla Escolha" %>

    <div class="field form-group">
        <%= collection_radio_buttons(:quiz, :question_option_id,
            question.question_options.all, :id, :option_description,
            {:class =>'form-check-input'}, html_options = {:required => 'required'}  ) do |b| %>
            <div class="form-check">
                <%= b.label(:class => 'form-check-label container')  do %>
                    <%= b.radio_button + b.text %>
                    <span class="checkmark"></span>
                <% end %>
            </div>
        <% end %>
    </div>

<% elsif question.type_question == "Questão Aberta" %>

    <div class="field form-group">
        <%= form.text_area(
            :question_text,
            ols: 40,
            rows: 3,
            class: 'form-control',
            required: true
        ) %>
    </div>

<% elsif question.type_question == "Combinação" %>

  <div id="container-combinacao" class="container">
    <div id="combinacao" class="row combinacao">

    <% first_options = question.question_combinations.map.uniq(&:order)%>
    <% second_options = question.question_combinations - first_options %>

      <div id="combinacao-quiz-<%= quiz_id.to_s %>-<%= order.to_s %>-container1" class="container1 container-opcoes col-md-6 col-sm-6 col-6 ">
        <% first_options.shuffle.each do |c| %>

          <div value=<%= c.order %> class="opcao-wrapper <%= "opcao-wrapper"+c.order %>">
            <div parent="combinacao-quiz-<%= quiz_id.to_s %>-<%= order.to_s %>-container" class="opcao <%= "opcao"+c.order %>">
              <%= c.label %>
            </div>
          </div>

        <% end %>
      </div>

      <div id="combinacao-quiz-<%= quiz_id.to_s %>-<%= order.to_s %>-container2" class="container2 container-opcoes col-md-6 col-sm-6 col-6">
        <% second_options.shuffle.each do |c| %>

          <div value=<%= c.order %> class="opcao-wrapper <%= "opcao-wrapper"+c.order %>">
            <div parent="combinacao-quiz-<%= quiz_id.to_s %>-<%= order.to_s %>-container" class="opcao <%= "opcao"+c.order %>">
              <%= c.label %>
            </div>
          </div>

        <% end %>
      </div>

      <%= form.hidden_field :question_text,
          required: true,
          id: ("combinacao-quiz-"+quiz_id.to_s+"-"+order.to_s+"-container-input")
      %>
    </div>
  </div>

<% elsif question.type_question == "Forca" %>

    <%# Realiza a primeira carga no array da forca parcial %>
    <% if @resposta_parcial == nil %>
        <% resposta = question.question_texts.last.student_answer %>
        <% resposta_parcial = [] %>

        <% resposta.size.times do %>
            <% resposta_parcial << "_" %>
        <% end %>

        <%# substitui caracteres _ por - e espaço  %>
        <% array_vazios = resposta.enum_for(:scan, /(?= )/).map { Regexp.last_match.offset(0).first } %>
        <% array_vazios.each do |n| %>
          <% resposta_parcial[n] = ' ' %>
        <% end %>

        <% array_tracos = resposta.enum_for(:scan, /(?=-)/).map { Regexp.last_match.offset(0).first } %>
        <% array_tracos.each do |n| %>
          <% resposta_parcial[n] = '-' %>
        <% end %>


        <%= image_tag "forca1.png", id: "forca-image-1-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-1", width: "150px" %>
        <%= image_tag "forca2.png", id: "forca-image-2-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-2 hide", width: "150px" %>
        <%= image_tag "forca3.png", id: "forca-image-3-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-3 hide", width: "150px" %>
        <%= image_tag "forca4.png", id: "forca-image-4-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-4 hide", width: "150px" %>
        <%= image_tag "forca5.png", id: "forca-image-5-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-5 hide", width: "150px" %>
        <%= image_tag "forca6.png", id: "forca-image-6-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-6 hide", width: "150px" %>
        <%= image_tag "forca7.png", id: "forca-image-7-quiz-"+ quiz_id.to_s + "-ordem-" + order.to_s, class: "forca-image-7 hide", width: "150px" %>

        <br><br>

        <p id="resposta-parcial-quiz-<%= quiz_id.to_s %>-ordem-<%= order.to_s %>"
            style="letter-spacing: 10px;font-size: 22px;"><%= resposta_parcial.join %></p>


        <p id="mostra_forca_tentativas_letras-quiz-<%= quiz_id.to_s %>-ordem-<%= order.to_s %>"
            style="letter-spacing: 10px;font-size: 22px;"></p>

        <%= form.hidden_field :forca,
            :value => resposta_parcial.join,
            id: ("forca-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)
            %>
        <%= form.hidden_field :forca_erros,
            :value => 0,
            id: ("forca-erros-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)
        %>
        <%= form.hidden_field :forca_tentativas_letras,
            :value => [],
            id: ("forca_tentativas_letras-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)
        %>
    <% else %>
        <%# Valor substituido via JS em create.js %>
        <p id="resposta-parcial"><%= @resposta_parcial.join %></p>
        <%= form.hidden_field :forca,
            :value => @resposta_parcial.join,
            id: ("forca-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)
        %>

        <%= form.hidden_field :forca_erros, :value => 0 %> <%= form.hidden_field :forca_erros,
            :value => 0,
            id: ("forca-erros-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)
        %>
        <%= form.hidden_field :forca_tentativas_letras,
            :value => [],
            id: ("forca_tentativas_letras-quiz-"+quiz_id.to_s+"-ordem-"+order.to_s)

        %>
    <% end %>



    <div class="field form-group">
        <%= form.text_area(
            :question_text,
            ols: 40,
            rows: 1,
            maxlength: 1,
            class: 'form-control',
            required: true
        ) %>
    </div>

<% end %>
