<% level = @level %>
<div id="level">

    <a 
    data-toggle="collapse" 
    href="#<%= level.title.split.first %>" 
    role="button" 
    aria-expanded="false" 
    aria-controls="<%= level.title %>">
        <p class="level-label arrow"><%= level.title %>
        <i class="fa" aria-hidden="true"></i>
        </p>
    <a/>

    <div class="collapse show" id="<%= level.title.split.first %>">

        <%= render 'no_paths', level: level %>
        
        <% @paths.each_with_index do |path, i| %>
            <%= render 'button_create_quiz', path: path %>
            <% quizzes = current_student.quizzes.all.where(:path_id => path.id)  %>
                <% quizzes.each do |lesson| %>
                    <%# cache lesson do %>
                        <%= render 'lesson', quiz: lesson, path_index: i %>            
                    <%# end %>
                <% end %>
        <% end %>
    </div>
</div>

<div id="lessons-nav" class="col-md-12">
    <div style="text-align: center;">      
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
</div>

<%= link_to "Voltar", root_path, class: "btn btn-light " %>


<%= render 'partials/modal_config' %>    
