<%= form_with(model: level, local: true, url: path) do |form| %>
  
  <% if level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-12">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group col-md-12">
    <%= form.label :course_id, 'Curso' %>
    <%= collection_select(:level, :course_id, @course_options, :id, :title, {}, {:class =>'form-control'} )%>
  </div>

  <div class="actions  col-md-12">
    <%= form.submit "Enviar", :class => "btn btn-default" %>
  </div>
<% end %>