<p id="notice"><%= notice %></p>

<h1>Desafios semanais</h1>

<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Questão</th>
      <th>Válido até</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_challenges.each do |weekly_challenge| %>
      <tr>
        <td><%= weekly_challenge.question.question_title_by_course %></td>
        <td><%= weekly_challenge.exp %></td>
        <%
=begin%>
 <td><%= link_to 'Show', weekly_challenge %></td>
        <td><%= link_to 'Edit', edit_weekly_challenge_path(weekly_challenge) %></td>
        <td><%= link_to 'Destroy', weekly_challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%
=end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%
=begin%>
 <%= link_to 'Novo desafio semanal', new_backoffice_weekly_challenge_path %>
<%
=end%>
