
<h1 class="page-header">Cursos</h1>

    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Ícone</th>
                        <th>Titulo</th>
                        <th>Idioma</th>
                        <th>Unidade</th>
                        <th>Níveis</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <% @courses.each do |course| %>
                        <tr>
                            <td><%= course.id %></td>
                            <td>  
                                <%= image_tag course.course_flag.icon.url || "avatar.png", id: "avatar", class: "img-circle",  width: "30px", height: "30px" %>
                            </td>
                            <td><%= course.title %></td>
                            <td><%= course.language %></td>
                            <td><%= course.unit.title %></td>
                            <td><%= course.levels.count %></td>
                            <td>
                                <%= link_to backoffice_course_path(course), class: "btn btn-default btn-circle" do %>
                                    <i class="fa fa-search"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
