<h1 class="page-header">Simulado <%= @exam.title %></h1>

<div class="col-md-6">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <%= @exam.title %>
    </div>
    <div class="panel-body">
      <p>
        <strong>Nome da Simulado:</strong>
        <%= @exam.title %>
      </p>
  
      <p>
        <strong>Email:</strong>
        <%= @exam.email %>
      </p>
      <p>
        <strong>Localização:</strong>
        <%= @exam.location %>
      </p>
      <%= link_to 'Editar', edit_backoffice_exam_path(@exam), class: "btn btn-outline btn-primary" %>
      <%= link_to 'Excluir', backoffice_exam_path(@exam),  class: "btn btn-outline btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
        
  </div>
</div>


<div class="col-md-12">
  <h3 class="page-header">Alunos da unidade</h3>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Avatar</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Simulado</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <% @exam.students.each do |student| %>
                        <tr>
                            <td><%= student.id %></td>
                            <td>  
                                <%= image_tag user_avatar(student, 30), id: "avatar", class: "img-circle" %>
                            </td>
                            <td><%= student.name %></td>
                            <td><%= student.email %></td>
                            <td><%= student.phone %></td>
                            <td><%= student.exam.title %></td>
                            <td>
                                <%= link_to backoffice_student_path(student), class: "btn btn-default btn-circle" do %>
                                    <i class="fa fa-search"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>


