<p id="notice"><%= notice %></p>

<h1 class="page-header"><%= @weekly_challenge_bank_question.level.course.title %> <%= @weekly_challenge_bank_question.level.title %></h1>

<div class="col-md-12">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <%= @weekly_challenge_bank_question.title %>
    </div>
    <div class="panel-body">
      <p>
        <strong>Título do banco:</strong>
        <%= @weekly_challenge_bank_question.title %>
      </p>

      <p>
        <strong>Level:</strong>
        <%= @weekly_challenge_bank_question.level.title %>
      </p>

      <%= link_to 'Editar', edit_backoffice_weekly_challenge_bank_question_path(@weekly_challenge_bank_question), class: "btn btn-outline btn-primary" %>

    </div>
  </div>
</div>

<div class="col-md-12">


<h3 class="page-header">Questões do banco <%= @weekly_challenge_bank_question.title %> </h3>

  <div class="table-responsive">
      <table class="table table-hover table-question">
        <thead>
          <tr>
            <th>Título</th>
            <th>Comando da Questão</th>
            <th>Curso</th>
            <th>Nível</th>
            <th>Lição</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @weekly_challenge_bank_question.questions.each do |question| %>
            <tr>
              <td><%= question.title %></td>
              <td><%= raw question.description %></td>
              <td><%= question.path.level.course.title %></td>
              <td><%= question.path.level.title %></td>
              <td><%= question.path.title %></td>
              <td>
                <%= link_to backoffice_question_path(question), class: "btn btn-default btn-circle" do %>
                    <i class="fa fa-search"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-md-12">
        <div style="text-align: center;">
          <%
=begin%>
 <%= pagy_bootstrap_nav(@pagy).html_safe %>
<%
=end%>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div style="">
      <%= link_to 'Nova Questão', new_backoffice_question_path(:weekly_challenge_bank_question => @weekly_challenge_bank_question), class: "btn btn-default" %>
      <br><br>
    </div>
  </div>


